.ui{
    overflow-y: hidden;
}

.content {
    padding: 20px;
    margin-top: 80px; /* Altura de la topbar + algo de espacio para separar el contenido de la barra superior */
  overflow-y: auto; /* Permite que el contenido se desplace si es más grande que la ventana */
  height: calc(100vh - 80px); /* Altura de la ventana menos la altura de la topbar */

}