.formContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 0.5rem 0;
  margin-bottom: 4rem;
}

.checkContainer {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 4.5rem;
  margin-top: 20px;
  margin-bottom: 35px;

}
/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 60px;
  width: 4.5rem;
  z-index: 2;
}

/* Create a custom checkbox */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}
.checkContainer input:checked ~ .banner {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}