:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: 240, 58,55;
  --color-button: 49,175,212;
  --color-button-secondary: 22,37,33;
  --color-background: 245,245,245;
  --color-accent: 252,234,222;
  --color-text-accent: 58,64,90;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
