:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: 240, 58, 55;
  --color-prymary-accent: 198, 40, 40;
  --color-blue: 56, 106, 187;
  --color-yellow: 255, 205, 3;
  --color-background: 250, 250, 250;
  --color-accent: 234, 234, 236;
  --color-text-accent: 58, 64, 90;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
}
ul {
  padding: 0;
}
html{
  overflow-y: hidden;
}
html,
body {
  background-color: rgb(var(--color-background));
}
input[type="search" i]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 30%;
  cursor: pointer;
}
